<mat-card>
  <mat-card-header>
    <mat-card-title>QR Code</mat-card-title>
    <mat-card-subtitle>check your status</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>

    <mat-form-field>
      <input matInput placeholder="Reservation Code" [(ngModel)]="code">
    </mat-form-field>
    
    <div>
      <qr-code [value]="code" [size]="480"></qr-code>
    </div>
  
  </mat-card-content>
  <mat-card-actions>
    <!-- <button mat-button>Ok</button> -->
  </mat-card-actions>
</mat-card>