<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title style="color:white">
      <b>REGISTRATION FORM</b>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>

    <mat-horizontal-stepper #stepper>
      <mat-step>
        <form [formGroup]="firstFormGroup">
          <ng-template matStepLabel>Fill out the form</ng-template>
          <div>
            <mat-form-field class="s-width" appearance="outline">
              <input matInput placeholder="Last name" formControlName="lastCtrl" required autocomplete="off" >
              <mat-hint>Reference to the Cerificate.</mat-hint>
            </mat-form-field>
            <mat-form-field class="s-width"  appearance="outline">
              <input matInput placeholder="First name" formControlName="firstCtrl" requiredautocomplete="off" >
            </mat-form-field>
            <mat-form-field class="s-width">
              <input matInput placeholder="Middle name" formControlName="middleCtrl" autocomplete="off" >
              </mat-form-field>
              <div style="height: 10px"></div>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Email address" formControlName="emailCtrl" required="" autocomplete="off" >
              <mat-hint>E-receipt/E-Certificate will be sent to your email</mat-hint>
            </mat-form-field>

            <div style="height: 10px"></div>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Mobile number" formControlName="mobileCtrl" autocomplete="off" required>
            </mat-form-field>
            <mat-form-field>
              <mat-select placeholder="Category" formControlName="occuCtrl" required >
                <mat-option value="Student">Student</mat-option>
                <mat-option value="Professional">Professional</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Agency/Company/University" formControlName="asCtrl" required autocomplete="off" >
            </mat-form-field>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Homtown" formControlName="hometownCtrl" autocomplete="off" required >
              </mat-form-field>
          </div>
          <div formArrayName="additionalParticipants" *ngFor="let p of firstFormGroup.get('additionalParticipants')['controls']; let i = index;">
            <div [formGroupName]="i">
          <hr>
              <mat-form-field class="s-width">
                <input matInput placeholder="Last name" formControlName="last_name" required autocomplete="off" name="fakeusernameremembered">
                <mat-hint>Reference to the Cerificate.</mat-hint>
              </mat-form-field>
              <mat-form-field class="s-width">
                <input matInput placeholder="First name" formControlName="first_name" required autocomplete="off" >
              </mat-form-field>
              <mat-form-field class="s-width">
                <input matInput placeholder="Middle name" formControlName="middle_name" autocomplete="off" >
              </mat-form-field>
            <div style="height: 10px"></div>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Email address" formControlName="email" required="" autocomplete="off" >
                <mat-hint>E-receipt/E-Certificate will be sent to your email</mat-hint>
              </mat-form-field>
            <div style="height: 10px"></div>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Mobile number" formControlName="mobile" autocomplete="off" required>
            </mat-form-field>
              <mat-form-field>
                <mat-select placeholder="Category" formControlName="occupation" required>
                  <mat-option value="Student">Student</mat-option>
                  <mat-option value="Professional">Professional</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Agency/Company/University" formControlName="agency" required autocomplete="off" >
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Homtown" formControlName="hometown" autocomplete="off" required >
              </mat-form-field>
              <button type="button" (click)="removeParticipant(i)"  mat-raised-button color="warn" style="color: white">
                <i class="material-icons">
                  remove_circle_outline
                  </i> Remove
                </button>

            </div>
          </div>
          <br>
          <button type="button" (click)="addParticipant()" mat-raised-button color="primary" style="color: white"><i class="material-icons">
          group_add
          </i> Add Participants</button>

            <button mat-button type="submit" style="color: white;background-color: black;float: right;" (click)="add(stepper)">Next</button>
        </form>
      </mat-step>
      <mat-step>

        <form>
          <ng-template matStepLabel>Reservation Details</ng-template>
          <p>Select the dates you want to attend.</p>
          <div *ngIf="chect==true">
            <mat-card style="background-color: #f4f4f4;margin-top: 5px" *ngFor="let x of events; let i = index" >
              <mat-checkbox (change)="click1(x.id,x.price)">Day {{i+1}} ({{x.name}})
                <br>
                <small>{{ process(x.date) }}</small>
              </mat-checkbox>
            </mat-card>
            

          </div>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Summary
              </mat-panel-title>
              <mat-panel-description>
                
              </mat-panel-description>
            </mat-expansion-panel-header>
          
            <div *ngIf="saveevent.length==0">
              <p style="text-align: center;margin: 0px"><small >You must check at least 1 in the seminar/training days!</small></p>
            </div>
            <div  *ngFor="let x of events; let i = index" >

            <div *ngIf="saveevent.length>0 && saveevent.includes(x.id)" style="margin-bottom: 10px">
              <p style="margin: 0px"><small>Day {{i+1}} ({{x.name}}):</small></p>
              <mat-list style="margin-top: 0px">
                <mat-list-item style="height:25px"><small>Professionals (&#8369;{{x.price}})</small>
                  <span class="fill-space"></span>
                  <div style="text-align: right !important;">
                    <small>* {{noofprof}}</small>
                  </div>
                </mat-list-item>
            
                <mat-list-item style="height:25px"><small>Students (&#8369;{{x.price-500}})</small>
                  <span class="fill-space"></span>
                  <div style="text-align: right !important;">
                    <small>* {{noofstud}}</small>
                  </div>
                </mat-list-item>
              </mat-list>
            </div>
            
            </div>
          </mat-expansion-panel>

          
          <h2 style="text-align: right;margin-right: 13px">Total Price: &#8369;{{total}}</h2>
          <div>
            
            <p *ngIf="rcode==='final'">You are registered!</p>
            <br>
            <button mat-button matStepperPrevious style="color: white;background-color: black" (click)="resetCart()">Back</button>
            <mat-spinner *ngIf="rcode==='load'" style="float: right;"  ></mat-spinner>
            <button mat-button matStepperNext style="color: white;background-color: black;float: right;">Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Summary</ng-template>

        <h2 style="text-align: center;margin:0">Summary</h2>

          <p style="margin:0px">Participants:</p>
          <mat-list>  
            <mat-list-item   style="height:25px"><small>{{firstFormGroup.value.occuCtrl}} - {{firstFormGroup.value.firstCtrl}} {{firstFormGroup.value.middleCtrl}} {{firstFormGroup.value.lastCtrl}}</small>
              <span class="fill-space"></span>
              <div style="text-align: right !important;">
               <small> {{ firstFormGroup.value.emailCtrl}}</small>
              </div>
            <mat-divider></mat-divider>
            </mat-list-item>
          </mat-list>
          <div style="height: 10px"></div>
          <div  *ngFor="let x of events; let i = index" >

            <div *ngIf="saveevent.length>0 && saveevent.includes(x.id)" style="margin-bottom: 10px">
              <p style="margin: 0px"><small>Day {{i+1}} ({{x.name}}):</small></p>
              <mat-list style="margin-top: 0px">
                <mat-list-item style="height:25px"><small>Professionals (&#8369;{{x.price}})</small>
                  <span class="fill-space"></span>
                  <div style="text-align: right !important;">
                    <small>* {{noofprof}}</small>
                  </div>
                </mat-list-item>
            
                <mat-list-item style="height:25px"><small>Students (&#8369;{{x.price-500}})</small>
                  <span class="fill-space"></span>
                  <div style="text-align: right !important;">
                    <small>* {{noofstud}}</small>
                  </div>
                </mat-list-item>
              </mat-list>
            </div>
            
            </div>
          <h2 style="text-align: right;margin-right: 13px">Total Price: &#8369;{{total}}</h2>

        <div *ngIf="rcode==='fail'">
          <br>
        <br>
        Something went Wrong. No internet Connection or Server is down.
        <br><br>
        </div>
        <div *ngIf="rcode==='final'">
        <!-- 
          <button type="button" (click)="openDialog()" mat-raised-button color="primary" style="color: white"><i class="material-icons">
         print
          </i> Print</button>  -->
          <br>
            <table style="width: 100%">
              <tr>
                <td style="width: 200px"><qr-code [value]="code" [size]="200"></qr-code></td>
                <td style="padding-left: 10px">
                  {{code2}}<br><br>Right click on the Qr code to save the image.</td>
              </tr>
            </table>
        <br>
        <br><a href="./"><button mat-button style="color: white;background-color: black;float: right;" (click)="resetCart()">Done</button></a><br>
        </div>

        <div *ngIf="rcode==='load'">
          <br><br>
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        <br><br>
        </div>
        <div *ngIf="rcode=='none'">
              <mat-checkbox (change)="click4()" [checked]="isChecked4"><small>I confirm that the information given in this form is true, complete and accurate.</small>
              </mat-checkbox><br>
        
        
        <br><re-captcha (resolved)="resolved($event)" siteKey="6LdQ_roUAAAAAMlFcvV0M_Ajb-NUKhjM6MHLK7HZ" ></re-captcha>
        <br>
        <div>
          <button mat-button matStepperPrevious style="color: white;background-color: black">Back</button>
            <button mat-button style="color: white;background-color: black;float: right;" (click)="register(stepper)" *ngIf="rcode!='load'">Register</button>
          
        </div>
      </div>
      </mat-step>
    </mat-horizontal-stepper>

  </mat-card-content>
</mat-card>