/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/deeppurple-amber.css";
body {
	margin:0 !important;background: #666666;
  background-image: url('/assets/img/bg.jpg');
}
.mat-toolbar.mat-primary{
	background: #000;
}
.mat-horizontal-stepper-header{
    pointer-events: none !important;
}